

{% extends 'base.html' %}

{% block title %}
Starship Delivery System
{% endblock %}

{% block header_ %}

    <div class="li_header" style="float:right; margin-right: 10px; display: inline;" ></div>
        <!-- <form action="" method="post" enctype="multipart/form-data" style="width: 100px;">
           

        </form> -->
{% endblock %}
        
        

<!-- <div class="header">SPACE Y
</div> -->
{% block content %}
<!-- <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" placeholder="Search..." type="text"><br><br>
    <button type="submit"></button>
</form>
<div class="mid"> -->
    <div class="container3">
        <form class="search-form" method="get" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <input name="cargo_name" placeholder="Поиск" type="text" value="{{data.srch_text}}"><br><br>
          <button type="submit"></button>
        </form>
        <div class="cart-form">
          <form action="" enctype="multipart/form-data">
            <a href="{% url 'shipping' data.ship_id %}" style="font-size: 20px; font-family: 'Roboto', sans-serif;">Грузы ({{data.cnt}})</a>
          </form>
        </div>
      </div>
      
<div class="mid">
    <div class="container">
        {% for cargo in data.products %}
            {% include 'ship_element.html' with element=cargo %}
        {% empty %}
        {% endfor %}
    </div>
</div>
<!-- <a class="icon-link" href=""  >
<i class="bi bi-box" style="font-size: 70px; color:black; "></i></a> -->
{% endblock %}