{% load static %}
<div class="card">
    <div class="photo">
        <img src="{{element.pic}}" class="image">
    </div>
    <p class="title">{{element.title}}</p>
    <div class="wrapper_discr">
        <p class="short-description">{{element.short_discr}}</p>
    <div class ="properties_">
        <p>Цена за 1т: ${{element.formated_price}}</p>
        
    </div>
    <!-- <a href="{% url 'products_url' element.id %}" class="button_click">Подробнее</a>   -->
    <!-- <a href="{% url 'products_url' element.id %}" class="button_click" style="margin: auto;">Подробнее</a>   -->
    </div>
    <a href="{% url 'products_url' element.id %}" class="button_click" style="margin: auto;">Подробнее</a>  
</div>