

{% extends 'base.html' %}

{% block content %}

<div class="container4">
  <label for="name"></label>
    <h4>Дата заявки:</label>
  <input type="text" id="name" name="name" disabled value="{{data.creation_datetime}}" style="width: 350px; margin-left: auto; background-color: rgb(193, 187, 187); font-size: 14px;">
  <label for="name">
    <h4>Оформитель:</label>
  <input type="text" id="name" name="name" disabled value="{{data.org}}" style="width: 350px; margin-left: auto; background-color: rgb(193, 187, 187);">
</div>
<div class="container_cart">
    <div class="product-total">
        <h2>Груз</h2>
        <h2>Тонн</h2>
        <h2>Всего</h2>
      </div>
    <div class="products">
        {% for order in data.data %}
            {% include 'cargo_det_card.html' with element=order %}
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </div>

    <div class="total-container">
      <button class="change_back_button">Расформировать отправление</button>
      <p class="total">Всего: ${{data.total}}</p>
    </div>
  </div>
{% endblock %}

