
{% load static %}
<div class="card">
    <div class="photo">
        <img src="{{element.logo_file_path}}" class="image">
    </div>
    <p class="title">{{element.title}}</p>
    <div class="wrapper_discr">
        <p class="short-description">{{element.short_description}}</p>
    <div class ="properties_">
        <p>Цена за 1т: ${{element.price_per_ton}}</p>
        
    </div>
    </div>
    <div style="display: flex;">

        <form method="post" action="{% url 'add_cargo_to_ship' %}">
            {% csrf_token %} 
        <button class="change_back_button" style="margin-top: 0px;" value="{{element.id}}" name="add_to_ship">Добавить груз в отправление</button>
        <a href="{% url 'cargo_url' element.id %}" class="button_click" style="margin: auto;">Подробнее</a>  
    </form>

    </div>
    <!-- <a href="{% url 'cargo_url' element.id %}" class="button_click" style="margin: auto;">Подробнее</a>   -->

</div>
